development/resources
development/components
development/assets/fonts/*
development/assets/stylesheets/educa.css
development/assets/stylesheets/modules.css
production/**/*
staging/**/*
node_modules
.idea
nbproject
!.gitkeep