<div class="page-heading news-heading" responsive-image="" sources="headerSources" as-background-image>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contáctanos</h1>
        <span>Estamos atentos para ofrecerte el mejor servicio!</span>
        <div class="page-list">
          <ul>
            <li class="active"><a href="index.html">Inicio</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><a href="contact.html">Contáctanos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-content">
          <div class="contact-item">
            <i class="fa fa-map-marker"></i>
            <h4>Contáctanos</h4>
            <p>CC. Plaza de los Andes. Oficina 130,<br/>Cúcuta N.S. Colombia</p>
          </div>
          <div class="contact-item">
            <i class="fa fa-envelope-o"></i>
            <h4>Email</h4>
            <p>contacto@marlininternacional.com</p>
          </div>
          <div class="contact-item last-contact">
            <i class="fa fa-phone"></i>
            <h4>Teléfono</h4>
            <p>(+57) 314 427 3988</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="location-contact">
          <div class="widget-heading">
            <h4>Ubicación</h4>
          </div>
          <div class="content-map">
            <div id="map"></div>


          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="message-form">
          <div class="widget-heading">
            <h4>Contáctanos</h4>
          </div>
          <div class="message-content">
            <form name="contactForm" class="contact-form" novalidate
                  ng-submit="contactForm.$valid && contactCtrl.submit(contactCtrl.vm.data)">
              <div class="warning-message" ng-show="contactForm.$submitted && contactForm.$invalid">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Por favor verifique los datos ingresados.
              </div>
              <div class="success-message" ng-show="contactCtrl.vm.success">
                <i class="fa fa-check" aria-hidden="true"></i> Tu solicitud ha sido enviada.
              </div>
              <div class="warning-message" ng-show="contactCtrl.vm.error">
                <i class="fa fa-times" aria-hidden="true"></i> Ha ocurrido un error, por favor intentelo de nuevo mas
                tarde.
              </div>
              <br/>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" id="name" ng-show="!dataUser" name="name"
                         ng-class="{'has-error':(contactForm.$submitted || contactForm.name.$touched) && contactForm.name.$invalid}"
                         ng-model="contactCtrl.vm.data.toName" ng-required="!dataUser"
                         placeholder="Nombre Completo">
                </div>
                <div class="col-md-6">
                  <input type="email" id="address" name="email"
                         ng-show="!dataUser"
                         ng-class="{'has-error':(contactForm.$submitted || contactForm.email.$touched) && contactForm.email.$invalid}"
                         ng-model="contactCtrl.vm.data.to" ng-required="!dataUser"
                         placeholder="E-Mail">
                </div>
                <div class="col-md-12">
                  <input type="text" id="subject" name="subject"
                         ng-class="{'has-error':(contactForm.$submitted || contactForm.subject.$touched) && contactForm.subject.$invalid}"
                         ng-model="contactCtrl.vm.data.subject" required placeholder="Asunto">
                </div>
                <div class="col-md-12">
                  <textarea ng-model="contactCtrl.vm.data.body" name="body" class="message" required
                            ng-class="{'has-error':(contactForm.$submitted || contactForm.body.$touched) && contactForm.body.$invalid}"
                            placeholder="Mensaje"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="hidden" name="fake" ng-if="!APP_CONSTANTS.RECAPTCHA_KEY.value" ng-model="contactCtrl.vm.data.gRecaptchaResponse" required>
                  <div ng-if="!dataUser && APP_CONSTANTS.RECAPTCHA_KEY.value" class="text-center">
                    <div vc-recaptcha key="APP_CONSTANTS.RECAPTCHA_KEY.value"
                         ng-model="contactCtrl.vm.data.gRecaptchaResponse" required="">
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="accent-button">
                <button type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="call-to-action">
  <div class="container">
    <div class="row">
      <p>Desarrolla tu <em>máximo potencial</em> y aplícalo a tu vida diaria.</p>
      <div class="accent-button">
        <a href="/cursos">Ver nuestros cursos</a>
      </div>
    </div>
  </div>
</div>
