
<div class="page-heading news-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contáctanos</h1>
                <span>Estamos atentos para ofrecerte el mejor servicio!</span>
                <div class="page-list">
                    <ul>
                        <li class="active"><a href="index.html">Inicio</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><a href="contact.html">Contáctanos</a></li>
                    </ul>
                </div>
            </div>	
        </div>
    </div>
</div>

<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-content">
                    <div class="contact-item">
                        <i class="fa fa-map-marker"></i>
                        <h4>Contáctanos</h4>
                        <p>CC. Plaza de los Andes. Oficina 130, Cúcuta N.S. Colombia</p>
                    </div>
                    <div class="contact-item">
                        <i class="fa fa-envelope-o"></i>
                        <h4>Email</h4>
                        <p>contacto@marlininternacional.com</p>
                    </div>
                    <div class="contact-item last-contact">
                        <i class="fa fa-phone"></i>
                        <h4>Teléfono</h4>
                        <p>(+57) 314 427 3988</p>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</section>

<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-contact">
                    <div class="widget-heading">
                        <h4>Ubicación</h4>
                    </div>
                    <div class="content-map"  >
                        <div id="map"></div>
                        <script id="scriptmap" src="https://maps.googleapis.com/maps/api/js"></script>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="message-form">
                    <div class="widget-heading">
                        <h4>Contáctanos</h4>
                    </div>
                    <div class="message-content">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="name" name="s" placeholder="Nombre" value="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="address" name="s" placeholder="Email" value="">
                            </div>
                            <div class="col-md-12">
                                <textarea id="message" class="message" name="message" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <div class="accent-button">
                            <a href="#">Enviar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="call-to-action">
    <div class="container">
        <div class="row">
            <p>Desarrolla tu <em>máximo potencial</em> y aplícalo a tu vida diaria.</p>
            <div class="accent-button">
                <a href="/cursos">Ver nuestros cursos</a>
            </div>
        </div>
    </div>
</div>
