<div class="sidebar-menu-container" id="sidebar-menu-container">

  <div class="sidebar-menu-push">

    <div class="sidebar-menu-overlay"></div>

    <div class="sidebar-menu-inner">
      <div responsive-image="" sources="headerSources" as-background-image class="page-heading news-heading">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h1>Cursos</h1>
                      <span>Pendiente</span>

                      <div class="page-list">
                          <ul>
                              <li class="active"><a ui-sref="index">Inicio</a></li>
                              <li><i class="fa fa-angle-right"></i></li>
                              <li><a ui-sref="courses">Cursos</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <section class="courses-list">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="pre-featured">
                <div class="info-text">
                  <h4>showing 1-9 of 40 courses</h4>
                </div>
                <div class="right-content">
                  <div class="input-select">
                                      <select name="category" id="category">
                                          <option value="-1">Select Category</option>
                                            <option>Free</option>
                                            <option>Timing</option>
                                            <option>Mostly</option>
                                            <option>Latest</option>
                                      </select>
                                  </div>
                                  <div class="input-select">
                                      <select name="sorted" id="sorted">
                                          <option value="-1">Sorted by</option>
                                            <option>Price</option>
                                            <option>Useless</option>
                                            <option>Important</option>
                                      </select>
                                  </div>
                                  <div class="grid-list">
                                    <ul>
                                      <li><a href="#"><i class="fa fa-list"></i></a></li>
                                      <li><a href="#"><i class="fa fa-square"></i></a></li>
                                    </ul>
                                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="course-items">
                <div class="row">
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-yellow">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>How to become<br>a Powerful Speaker</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-red">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>Electrical &amp; Electronic <br>Engingering</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-yellow">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>What can you do<br>With a Business Degree?</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-yellow">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>Fashion buying<br>and Product Management</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-red">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>Electrical &amp; Electronic <br>Engingering</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-red">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>How to become<br>a Powerful Speaker</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="item course-item">
                      <a href="single-course.html"><img src="http://placehold.it/345x235" alt=""></a>
                      <div class="down-content">
                        <img src="http://placehold.it/44x44" alt="">
                        <h6>Ernest Byrd</h6>
                        <div class="price-red">
                          <span>Free</span>
                          <div class="base"></div>
                        </div>
                        <a href="single-course.html"><h4>What can you do<br>With a Business Degree?</h4></a>
                        <p>Ugh chambray lumbersexual food truc artisan meditation sartorial post-ironic Wes Anderson fap tattooed.</p>
                        <div class="text-button">
                          <a href="single-course.html">view more<i class="fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="request-information">
                <div class="widget-heading">
                  <h4>Request Information</h4>
                </div>
                <div class="search-form">
                  <input type="text" id="name" name="s" placeholder="Full Name" value="">
                  <input type="text" id="address" name="s" placeholder="E-mail Address" value="">
                                  <div class="select">
                                      <select name="mark" id="campus">
                                          <option value="-1">Campus of Interests</option>
                                            <option>Nearby</option>
                                            <option>High Classes</option>
                                            <option>Short Time</option>
                                            <option>Long Time</option>
                                      </select>
                                  </div>
                                  <div class="select">
                                      <select name="mark" id="program">
                                          <option value="-1">Program of Interests</option>
                                            <option>Wroking Process</option>
                                            <option>Archivements</option>
                                            <option>Social</option>
                                            <option>Profits</option>
                                      </select>
                                  </div>
                                  <div class="accent-button">
                                    <a href="#">Submit Request</a>
                                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="pagination-navigation">
                <div class="row">
                  <div class="col-md-6 col-xs-6">
                    <div class="pagination">
                      <ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6">
                    <div class="navigation">
                      <ul>
                        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

    </div>

  </div>

  <nav class="sidebar-menu slide-from-left">
    <div class="nano">
      <div class="content">
        <nav class="responsive-menu">
          <ul>
            <li class="menu-item-has-children"><a href="#">Home</a>
              <ul class="sub-menu">
                <li><a href="index.html">Homepage 1</a></li>
                <li><a href="homepage-2.html">Homepage 2</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Courses</a>
              <ul class="sub-menu">
                <li><a href="courses-grid.html">Courses Grids</a></li>
                <li><a href="courses-list.html">Courses List</a></li>
                <li><a href="single-course.html">Single Course</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Events</a>
              <ul class="sub-menu">
                <li><a href="classic-events.html">Classic Events</a></li>
                <li><a href="calendar-events.html">Calendar Events</a></li>
                <li><a href="single-event.html">Single Event</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Pages</a>
              <ul class="sub-menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="our-teachers.html">Our Teachers</a></li>
                <li><a href="single-teacher.html">Single Teacher</a></li>
                <li><a href="gallery-4.html">Gallery 4 Columns</a></li>
                <li><a href="gallery-3.html">Gallery 3 Columns</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">News</a>
              <ul class="sub-menu">
                <li><a href="classic-news.html">Classic News</a></li>
                <li><a href="grid-news.html">Grid News</a></li>
                <li><a href="single-post.html">Single Post</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </nav>

</div>
