<div class="user-section">
    <div class="page-heading news-heading" responsive-image="" sources="headerSources" as-background-image>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header">
                        <div class="user-image">
                            <div class="overlay">
                                <a href="javascript:void(0)" ng-click="uploadPhoto()"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" ng-click="removePhoto()"><i class="fa fa-times"></i></a>
                            </div>
                            <img src="http://blog.soundidea.co.za/home/22/files/A%20quick%20guide%20to%20opt%20pic%202.jpg" alt="user profile photo">
                        </div>
                        <div class="name">
                            <h2>Eliecer Alejandro Molina Vergel</h2>
                            <a ui-sref="user.activity()" ><i class="fa fa-cogs"></i> Ver Actividad</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="page-list">
                        <ul>
                            <li class="active"><a ui-sref="user()">Tu perfil</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li class="active"><a ui-sref="user.account()">Actualizar información.</a></li>
                        </ul>
                    </div>
                </div>

            </div>	
        </div>
    </div>

</div>
<section class="user-section">
    <div class="container">
        <div class="row  user-information">
            <div class="col-md-12">
                <div class="heading">
                    <h1>Configuracion</h1>
                    <p>Manten actualizados tus datos, esto nos permitirá prestar un mejor servicio.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Cedula</label>
                        <input class="form-control"  type="text" ng-modal="user.pid"/>
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control"  type="text" ng-modal="user.firstName"/>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input class="form-control"  type="text" ng-modal="user.lastName"/>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input class="form-control"  type="text" ng-modal="user.adress"/>
                    </div>
                    <div class="form-group">
                        <label>Teléfono Fijo</label>
                        <input class="form-control"  type="text" ng-modal="user.phone"/>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Celular</label>
                        <input class="form-control"  type="text" ng-modal="user.cellphone"/>
                    </div>
                    <div class="form-group">
                        <label>WhatsApp</label>
                        <input class="form-control"  type="text" ng-modal="user.whatsapp"/>
                    </div>
                    <div class="form-group">
                        <label>Dinos algo sobre ti:</label>
                        <textarea class="form-control" rows="5" ng-modal="user.biography"> </textarea>
                    </div>
                    <div class="accent-button">
                        <a href="javascript:void(0)">Actualizar Información</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
