<div class="user-section">
  <div class="page-heading news-heading" responsive-image="" sources="headerSources" as-background-image>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-header">
            <div class="user-image">
              <img src="http://blog.soundidea.co.za/home/22/files/A%20quick%20guide%20to%20opt%20pic%202.jpg"
                   alt="user profile photo">
            </div>
            <div class="name">
              <h2>Eliecer Alejandro Molina Vergel</h2>
              <a ui-sref="user.account()"><i class="fa fa-cogs"></i> Editar información</a>
            </div>

          </div>
        </div>
        <div class="col-md-12">
          <div class="page-list">
            <ul>
              <li class="active"><a ui-sref="user()">Tu perfil</a></li>
              <li><i class="fa fa-angle-right"></i></li>
              <li class="active"><a ui-sref="user.activity()">Actividad </a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<section class="user-section">
  <div class="container">
    <div class="row  user-information">
      <div class="col-md-12">
        <div class="heading">
          <h1>Tu Actividad</h1>
        </div>
      </div>
      <div class="col-md-6 single-courses-list">
        <h2 class="title">Tus cursos</h2>
        <div class="course clearfix" ng-repeat="curso in student.cursos">
          <a ui-sref="courses.show({title:curso.name,course:curso,courseId:curso.id})">
            <img ng-src="{{curso.images._370x240}}" alt="">
          </a>
          <div class="description">
            <a href="javascript:void(0)" ui-sref="courses.show({title:curso.name,course:curso,courseId:curso.id})">
              <h4>{{curso.name}}</h4>
            </a>
            <h6>{{curso.instructor.name}} {{curso.instructor.surname}}</h6>
            <p>{{curso.description}}</p>
            <div class="text-button">
              <a ui-sref="courses.show({title:curso.name,course:curso,courseId:curso.id})">
                Ver más.<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 single-publications-list my-publications">
        <h2 class="title">Tus Comentarios</h2>

        <paginator pagedata="student.comments" pagelength="3" >

          <div  ng-init="$paginator_item.getPublication();" class="publication clearfix">
            <div ng-show="!$paginator_item.publication.isPublicationLoaded" class="loading">
              <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
            </div>
            <div ng-show="$paginator_item.publication.isPublicationLoaded" class="description" ng-class="{'publication-erased':!$paginator_item.publication.active}">
              <a ng-show="$paginator_item.publication.active" 
                 ui-sref="news.show({title:$paginator_item.publication.title,newId:$paginator_item.publication.id,new:$paginator_item.publication})">
                <h4>{{$paginator_item.publication.title}}</h4>
              </a>
              <a ng-show="!$paginator_item.publication.active" href="javascript:void(0)">
                <h4>Publicacion eliminada</h4>
              </a>

              <h6 ng-show="$paginator_item.publication.active">Marco Lino Alvarez Burgos | Publicado: 13 Feb 2017 Comentarios: 2</h6>
              <p><em>[{{$paginator_item.updatedAt| date:'dd MMM yyyy h:MMa'}}]</em>  {{$paginator_item.content}}</p>
              <div class="text-button">
                <a href="javascript:void(0)"
                   ng-click="showCourse($paginator_item)">Ver comentario <i
                      class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </paginator>

      </div>
    </div>
  </div>
</section>
