<div class="change-image-modal-inner">
  <div class="content">
    <div class="heading text-center">
      <h1>Actualiza tu Imagen</h1>
      <p>Haz click en el area punteada para seleccionar y recortar la imagen.</p>
    </div>
    <form name="userForm" ng-submit="picFile && !usersCtrl.vm.pending && usersCtrl.updateImage(croppedDataUrl)"
          novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="warning-message" ng-show="userForm.$submitted && userForm.$invalid">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Debe seleccionar una imagen.
          </div>
          <div class="success-message" ng-show="usersCtrl.vm.success">
            <i class="fa fa-check" aria-hidden="true"></i> Tus datos se han actualizado correctamente.
          </div>
          <div class="warning-message" ng-show="usersCtrl.vm.error">
            <i class="fa fa-times" aria-hidden="true"></i> Ha ocurrido un error, por favor intentelo de nuevo mas tarde.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 image-select">
          <div>
            <button ng-show="!picFile" ngf-select ng-model="picFile" accept="image/*">
              <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                <p>Haz clic aquí<br/>o<br/>Arrastra la imagen</p>
              </div>
            </button>
            <img-crop ng-show="picFile" image="picFile  | ngfDataUrl" result-image="croppedDataUrl"
                      area-min-size="100" result-image-size="700" ng-init="croppedDataUrl=''">
            </img-crop>
          </div>
        </div>
      </div>
      <div class="accent-button flex">
        <button type="button" ng-disabled="!picFile" ng-click="picFile = null; croppedDataUrl=''">
          Cambiar Selección
        </button>
        <button type="submit" class="submit">
          <i class="fa fa-refresh" aria-hidden="true" ng-show="usersCtrl.vm.pending"></i>
          Enviar Foto
        </button>
      </div>
    </form>
  </div>

</div>
