<div class="row videoModalInner">
  <div>
    <video id="modulevideo" class="video-js" controls preload="auto" vp-src="{{video.url |concatOrigin:'bucket'}}" video-player autoplay="autoplay">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="video_sidebar" ng-class="{'hidden':commentsVisible}">
    <div class="flex-fix"></div>
    <div id="commentsVideoContainer" class="comments">
      <div class="text_container" ng-repeat="comment in video.comments">
        <div class="imageUser">
          <img responsive-image="" sources="comment.authorImage" is-thumbnail src-format="::$source|concatOrigin:'bucket'" alt="">
        </div>
        <div class="text">
          <h3>{{comment.publisherName}}</h3>
          <p>{{comment.content}}</p>
          <span class="date">{{comment.createdAt|  date:'dd MMM yyyy h:MMa'}}</span>

        </div>
      </div>
    </div>
    <div class="message_container">
      <a href="javascript:void(0)" class="show-comments" ng-click="showComments()"><i
            class="fa fa-commenting"></i></a>
      <textarea placeholder="Déjanos tu comentario" ng-model="currentComment.content"></textarea>
      <a href="javascript:void(0)" ng-click='sendComment(currentComment)'><i class="fa fa-paper-plane"></i></a>
    </div>
  </div>

</div>
