<div class="row videoModalInner">
  <div class="video_container" mvonload="callback" compile>
    <video id="modulevideo" style="width:100%;height:100%;" width="100%" height="100%">
      <source src="assets/video/steven.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="video_sidebar" ng-class="{'hidden':commentsVisible}">
    <div class="flex-fix"></div>
    <div id="commentsVideoContainer" class="comments" mvonload="callbackvideo" compile>
      <div class="text_container" ng-repeat="i in x">
        <div class="imageUser">
          <img src="http://placehold.it/50x50">
        </div>
        <div class="text">

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

        </div>
      </div>
    </div>
    <div class="message_container">
      <a href="javascript:void(0)" class="show-comments" ng-click="showComments()"><i
        class="fa fa-commenting"></i></a>
      <textarea placeholder="Déjanos tu comentario" ng-model="video_comment"></textarea>
      <a href="javascript:void(0)" ng-click='sendComment()'><i class="fa fa-paper-plane"></i></a>
    </div>
  </div>

</div>
