<div class="row videoModalInner">
  <div class="video_container" mvonload="callback" compile>
    <video id="modulevideo" autoplay="autoplay" style="width:100%;height:100%;" width="100%" height="100%">
      <source ng-src="{{video.url |concatOrigin:'bucket'}}"   type="video/mp4">
      Your browser does not support the video tag. 

    </video>
  </div>
  <div class="video_sidebar" ng-class="{'hidden':commentsVisible}">
    <div class="flex-fix"></div>
    <div id="commentsVideoContainer" class="comments" mvonload="callbackvideo" compile>
      <div class="text_container" ng-repeat="comment in video.comments">
        <div class="imageUser">
          <img src="http://placehold.it/50x50">
        </div>
        <div class="text">
          <h3>{{comment.publisherName}}</h3>
          <p>{{comment.content}}</p>
          <span class="date">{{comment.createdAt|  date:'dd MMM yyyy h:MMa'}}</span>

        </div>
      </div>
    </div>
    <div class="message_container">
      <a href="javascript:void(0)" class="show-comments" ng-click="showComments()"><i
            class="fa fa-commenting"></i></a>
      <textarea placeholder="Déjanos tu comentario" ng-model="video_comment"></textarea>
      <a href="javascript:void(0)" ng-click='sendComment()'><i class="fa fa-paper-plane"></i></a>
    </div>
  </div>

</div>
