<div id="boxed-slider" ng-if="!dataUser" >
    <div class="slider container">
        <div class="fullwidthbanner-container">
            <div class="fullwidthbanner" revolution="::mainSliderConfigs">
                <ul>
                    <li class="first-slide" data-transition="fade" data-slotamount="10"
                        data-masterspeed="300">
                        <img src="assets/images/main-slider/slide-0.png" data-fullwidthcentering="on" alt="slide">

                        <div class="tp-caption first-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="160" data-speed="1000" data-start="200"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0" style="color: #FFF">
                            ¿Quieres alcanzar el éxito?
                            <br>
                            Podemos
                        </div>
                        <div class="tp-caption solution-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="225" data-speed="2000" data-start="200"
                             data-easing="Power4.easeIn" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">Guiarte
                        </div>
                        <div class="tp-caption second-line description-line lfb tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="310" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <p class="text-main-slider">
                                Las herramientas de programación neurolingüística<br/>
                                están diseñadas para ayudarte a alcanzar todas<br/>
                                tus metas y mejorando tu calidad de vida.<br/>
                            </p>
                        </div>
                        <div class="tp-caption third-line lfb tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="440" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <div class="slider-button"><a href="#">Inscribete</a></div>
                        </div>
                    </li>
                    <li class="first-slide" data-transition="fade" data-slotamount="10"
                        data-masterspeed="300">
                        <img src="assets/images/main-slider/slide-1.png" data-fullwidthcentering="on" alt="slide">

                        <div class="tp-caption first-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="160" data-speed="1000" data-start="200"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0" style="color: #FFF">
                            ¿Quieres comunicarte efectivamente?
                            <br>
                            Podemos
                        </div>
                        <div class="tp-caption solution-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="225" data-speed="2000" data-start="200"
                             data-easing="Power4.easeIn" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">Enseñarte
                        </div>
                        <div class="tp-caption second-line description-line lfb tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="310" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <p class="text-main-slider">
                                Programación neurolingüística te permitirá<br/>
                                llevar tus ideas y deseos de una manera<br/>
                                precisa y efectiva a todos aquellos que<br/>
                                puedan ayudarte a cumplir tus objetivos.
                            </p>
                        </div>
                        <div class="tp-caption third-line lfb tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="440" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <div class="slider-button"><a href="#">Inscribete</a></div>
                        </div>
                    </li>
                    <li class="first-slide" data-transition="fade" data-slotamount="10"
                        data-masterspeed="300">
                        <img src="assets/images/main-slider/slide-2.png" data-fullwidthcentering="on" alt="slide">

                        <div class="tp-caption first-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="160" data-speed="1000" data-start="200"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0" style="color: #FFF">
                            ¿Quieres mejorar tu calidad de vida?
                            <br>
                            Podemos
                        </div>
                        <div class="tp-caption solution-line lft tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="225" data-speed="2000" data-start="200"
                             data-easing="Power4.easeIn" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0" style="color: #FFF">Ayudarte
                        </div>
                        <div class="tp-caption second-line description-line lfb tp-resizeme start"
                             data-x="left" data-hoffset="0" data-y="310" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <p class="text-main-slider">
                                Con programación neurolingüística aprenderás a<br/>
                                mejorar tus relaciones familiares, tu calidad<br/>
                                de vida y la de tus seres queridos.
                            </p>
                        </div>
                        <div class="tp-caption third-line lfb tp-resizeme start" data-x="left"
                             data-hoffset="0" data-y="400" data-speed="1000" data-start="800"
                             data-easing="Power4.easeOut" data-splitin="none" data-splitout="none"
                             data-elementdelay="0" data-endelementdelay="0">
                            <div class="slider-button"><a href="#">Inscribete</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section ng-if="!dataUser" class="testimonials-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h1>Lo Que Opinan Nuestros Estudiantes</h1>
                    <img src="assets/images/line-dec.png" alt="">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="owl-testimonials" owl="::testimonialsCarouselConfig">
                            <div owl-item="" ng-repeat="item in testimonies">
                                <i class="fa fa-quote-right"></i>

                                <p>{{::item.content}}</p>
                                <img ng-src="{{::item.photo}}" alt="{{::item.nameStudent}}">
                                <h4>{{::item.nameStudent}}</h4>
                                <span>{{::item.occupation}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 university-news">
                <div class="section-heading">
                    <h1><a ui-sref="news">Publicaciones Recientes</a></h1>
                    <img src="assets/images/line-dec.png" alt="">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <slick settings="::newsCarouselConfig" ng-if="publications.list.length > 0">
                            <div class="news-item" style="height: 150px" ng-repeat="item in publications.list">
                                <a ui-sref="news.show({newId:item.id,title:slug(item.title)})">
                                    <img src="//localhost/cloud/examples/175_130.png" alt="{{::item.title}}">
                                </a>

                                <div>
                                    <ul>
                                        <li>{{::item.createdAt|date:'dd/MM/yyyy'}}</li>
                                        <li>
                                            <a ui-sref="instructors.show({instructorId:item.instructor.id, name:slug(item.instructor.name)})">{{::item.instructor.name}}</a>
                                        </li>
                                        <li>2 Comments</li>
                                    </ul>
                                    <a ui-sref="news.show({newId:item.id,title:slug(item.title)})">
                                        <h4>{{::item.title|truncate:50:'...':true}}</h4>

                                        <p style="text-align:justify;overflow-wrap: break-word;text-overflow: ellipsis">
                                            {{::item.preview|truncate:150:'...':true}}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-if="!dataUser" class="welcome-request">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-heading">
                    <h1>Bienvenido a Marlin Coach Intl.</h1>
                    <span>Expertos en Coaching y PNL</span>
                    <img src="assets/images/line-dec.png" alt="">

                    <p>
                        Más de 10 años de experiencia mejorando vidas y guiando al éxito nos permiten<br/>
                        ofrecer múltiples servicios garantizados.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="fa fa-graduation-cap"></i>
                            <h4>Cursos de PNL</h4>

                            <div class="line-dec"></div>
                            <p>Aprende como cambiar, guiar y mejorar vidas creando historias de éxito.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="fa fa-globe"></i>
                            <h4>Coaching Personalizado</h4>

                            <div class="line-dec"></div>
                            <p>Permítenos guiarte al éxito por medio de nuestra experiencia y técnicas garantizadas
                                de PNL</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item">
                            <i class="fa fa-clock-o"></i>
                            <h4>Preparación en Ventas</h4>

                            <div class="line-dec"></div>
                            <p>Aprende como usar la PNL para convencer a tu público objetivo de adquirir tu
                                producto.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="service-item last-service">
                            <i class="fa fa-book"></i>
                            <h4>Comunicación efectiva</h4>

                            <div class="line-dec"></div>
                            <p>Aprende a usar la PNL para llevar tus ideas de una manera óptima y eficaz a todo el
                                mundo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="request-information">
                    <div class="widget-heading">
                        <h4>Solicita Información</h4>
                    </div>
                    <div class="search-form">
                        <input type="text" id="name" name="s" placeholder="Nombre Completo" value="">
                        <input type="text" id="address" name="s" placeholder="E-Mail" value="">

                        <div class="select">
                            <select name="mark" id="campus">
                                <option value="-1">Curso de Interes</option>
                                <option>Nearby</option>
                                <option>High Classes</option>
                                <option>Short Time</option>
                                <option>Long Time</option>
                            </select>
                        </div>
                        <div class="accent-button">
                            <a href="#">Enviar Solicitud</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-if="dataUser" class="grid-news main-background-opaque-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="classic-posts">
                    <div class="row">
                        <div class="col-md-4" ng-repeat="new in publications.list.slice(0,3)">
                            <div class="grid-item">
                                <a ui-sref="news.show({title:slug(new.title), newId: new.id})">
                                    <img src="http://placehold.it/370x220" alt=""></a>

                                <div class="down-content">
                                    <ul>
                                        <li>Publicado: <em>{{new.publishedAt|date:'dd MMM yyyy'}}</em></li>
                                    </ul>
                                    <a ui-sref="news.show({title:slug(new.title), newId: new.id})">
                                        <h4>{{new.title| truncate : 50:'...':true}}</h4>
                                    </a>

                                    <p>
                                        {{new.preview | truncate : 100:'...':true}}
                                    </p>

                                    <div class="text-button">
                                        <a ui-sref="news.show({title:slug(new.title), newId: new.id})">
                                            Continuar leyendo<i class="fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-navigation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pagination">
                                    <ul>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="navigation">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                        <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular-courses">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center">
                <h1>Cursos Populares</h1>
                <img src="assets/images/line-dec.png" alt="">

                <p ng-if="!dataUser">Nuestros cursos te enseñaran a tener éxito y cambiar vidas</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
                <div id="owl-courses" owl="::coursesCarouselConfig">
                    <div class="item course-item" owl-item="" ng-repeat="course in courses">
                        <a ui-sref="courses.show({courseId:course.id,title:slug(course.name)})">
                            <img responsive-image is-thumbnail sources="::course.imagePreview" alt="">
                        </a>

                        <div class="down-content">
                            <img responsive-image is-thumbnail sources="::course.instructor.imagePreview" alt="">
                            <h6 ng-bind="::course.instructor.name"></h6>

                            <div class="price-red">
                                <span>{{::course.price|currency:'$':2}}</span>

                                <div class="base"></div>
                            </div>
                            <a href="single-course.html">
                                <h4 ng-bind="::course.name"></h4>

                                <p ng-bind="::course.description"></p>
                            </a>

                            <div class="text-button">
                                <a ui-sref="courses.show({courseId:course.id,title:slug(course.name)})">view more<i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--
<section class="our-teachers">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center">
                <h1>Nuestros Coaches</h1>
                <img src="assets/images/line-dec.png" alt="">

                <p>
                    Nuestros altamente cualificados Coaches e Instructores te darán toda su experiencia en tu camino al
                    éxito.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="teacher-item">
                    <div class="thumb-holder">
                        <a href="single-teacher.html"><img src="assets/images/marcolino.jpg" alt=""></a>

                        <div class="hover-content">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <a href="single-teacher.html"><h4>Marco Lino Alvarez</h4></a>
                        <span>Analista y Administrador de Empresas</span>

                        <p>
                            Fundador de Marlin Coach Internacional y Pionero en la Capacitación de Empresas con el
                            enfoque de la P.N.L. orientado a la Administracion de Empresas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<section class="read-books" ng-if="false">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h1>Libros Recomendados</h1>
                    <img src="assets/images/line-dec.png" alt="">

                    <p>Plaid you probably haven't heard of them fashion axe meditation</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="books-item">
                    <i class="fa fa-area-chart"></i>
                    <h4>structure<br>entry requirements</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="books-item">
                    <i class="fa fa-briefcase"></i>
                    <h4>Education<br>graphic interior</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="books-item">
                    <i class="fa fa-compass"></i>
                    <h4>Preparing<br>the compass Exam</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="books-item">
                    <i class="fa fa-comments-o"></i>
                    <h4>Teacher<br>talking to a group</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border-button">
                    <a href="#">Go to the books</a>
                </div>
            </div>
        </div>
    </div>
</section>