.request-information .search-form {
  input, select {
    color: #000;
  }
  .has-error {
    border-width: 2px !important;
  }
}

.warning-message {
  color: #f0ad4e!important;
}
.success-message {
  color: #2b542c!important;
}

.contact-form {
  .has-error {
    border-color: #8d2729 !important;
  }
  textarea {
    resize: none
  }
}
