.request-information .search-form {
  input, select{
    color: #000;
  }
  .warning-message{
    color: #f0ad4e;
  }
  .success-message{
    color: #2b542c;
  }
  .has-error {
    border-width: 2px!important;
  }
}