<div class="sidebar-menu-container" id="sidebar-menu-container">

    <div class="sidebar-menu-push">
        <div class="sidebar-menu-inner">
            <div responsive-image="" sources="headerSources" as-background-image class="page-heading news-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>News</h1>
                            <span>Salvia next level crucifix pickled heirloom synth</span>

                            <div class="page-list">
                                <ul>
                                    <li class="active"><a href="index.html">Home</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li><a href="grid-news.html">News</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="grid-news">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="classic-posts">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>New University Finder: Compare</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>How do students use rankings?</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>Visiting artists: giles bailey</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>Workshop Theories of the Image</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>Unlocking the scrolls Hercul</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>Thousands enjoy Brick City</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>Last Weekend events</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-item">
                                            <a href="single-post.html"><img src="http://placehold.it/370x220"
                                                                            alt=""></a>

                                            <div class="down-content">
                                                <ul>
                                                    <li>Posted: <em>7 Oct 2015</em></li>
                                                    <li>Comments: <em>2</em></li>
                                                </ul>
                                                <a href="single-post.html"><h4>New University Finder: Compare</h4></a>

                                                <p>Tumblr typewriter whatever next level slow schlitz health goth ennui
                                                    four dollar toast denim realistic aesthetic tattooed blog roof.</p>

                                                <div class="text-button">
                                                    <a href="single-post.html">Continue Reading<i
                                                            class="fa fa-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-navigation">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pagination">
                                                <ul>
                                                    <li><a href="#">1</a></li>
                                                    <li class="active"><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="navigation">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="side-bar">
                                <div class="search-box">
                                    <input type="text" class="search" name="s" placeholder="Search..." value="">
                                </div>
                                <div class="categories">
                                    <div class="widget-heading">
                                        <h4>Categories</h4>
                                    </div>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Design</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>International</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Learning</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Read</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Finance</a></li>
                                    </ul>
                                </div>
                                <div class="recent-news">
                                    <div class="widget-heading">
                                        <h4>Recent News</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>Visiting Artists: Giles Bailey</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>How Students use Rankings?</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>University Finder: Compare</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tags">
                                    <div class="widget-heading">
                                        <h4>Tags</h4>
                                    </div>
                                    <ul>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Envanto</a></li>
                                        <li><a href="#">Course</a></li>
                                        <li><a href="#">Education</a></li>
                                        <li><a href="#">College</a></li>
                                        <li><a href="#">Teachers</a></li>
                                        <li><a href="#">Read</a></li>
                                        <li><a href="#">Excursions</a></li>
                                    </ul>
                                </div>
                                <div class="recent-tweets">
                                    <div class="widget-heading">
                                        <h4>Recents Tweets</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <i class="fa fa-twitter"></i>

                                            <p>Tote bag post-ironic messenger bag bespoke cray wolf moon key ready.</p>
                                            <a href="#">https://olark.recruiterbox.com/jobs/fk0h</a>
                                            <span>21 minutes ago.</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-twitter"></i>

                                            <p>Tote bag post-ironic messenger bag bespoke cray wolf moon key ready.</p>
                                            <a href="#">https://olark.recruiterbox.com/jobs/fk0h</a>
                                            <span>21 minutes ago.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="instagram-feeds">
                                    <div class="widget-heading">
                                        <h4>Instagram</h4>
                                    </div>
                                    <div class="instagram-items">
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="call-to-action">
                <div class="container">
                    <div class="row">
                        <p><!--Young people have been 'mis-sold' <em>path to success</em>, business leaders warn.--></p>

                        <div class="accent-button">
                            <a href="courses-list.html">View Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="sidebar-menu slide-from-left">
        <div class="nano">
            <div class="content">
                <nav class="responsive-menu">
                    <ul>
                        <li class="menu-item-has-children"><a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Homepage 1</a></li>
                                <li><a href="homepage-2.html">Homepage 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Courses</a>
                            <ul class="sub-menu">
                                <li><a href="courses-grid.html">Courses Grids</a></li>
                                <li><a href="courses-list.html">Courses List</a></li>
                                <li><a href="single-course.html">Single Course</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Events</a>
                            <ul class="sub-menu">
                                <li><a href="classic-events.html">Classic Events</a></li>
                                <li><a href="calendar-events.html">Calendar Events</a></li>
                                <li><a href="single-event.html">Single Event</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="our-teachers.html">Our Teachers</a></li>
                                <li><a href="single-teacher.html">Single Teacher</a></li>
                                <li><a href="gallery-4.html">Gallery 4 Columns</a></li>
                                <li><a href="gallery-3.html">Gallery 3 Columns</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">News</a>
                            <ul class="sub-menu">
                                <li><a href="classic-news.html">Classic News</a></li>
                                <li><a href="grid-news.html">Grid News</a></li>
                                <li><a href="single-post.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

</div>