<div class="sidebar-menu-container" id="sidebar-menu-container">

    <div class="sidebar-menu-push">

        <div class="sidebar-menu-overlay"></div>

        <div class="sidebar-menu-inner">

            <div responsive-image="" sources="headerSources" as-background-image class="page-heading news-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Publicaciones</h1>
                            <span>Disfruta, inspirate, reflexiona</span>

                            <div class="page-list">
                                <ul>
                                    <li class="active"><a ui-sref="index">Inicio</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li><a ui-sref="news">Publicaciones</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li><a ui-sref="news">{{new.title | truncate:20:'...':true}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="single-post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="classic-posts">
                                <div class="single-item">
                                    <img src="http://placehold.it/770x410" alt="">
                                    <ul>
                                        <li>Publicado: <em>{{new.publishedAt|date:'dd MMM yyyy'}}</em></li>
                                        <li>Autor: <em>{{new.instructor.name}}</em></li>
                                        <li>Comentarios: <em>2</em></li>
                                    </ul>
                                    <h4>{{new.title}}</h4>

                                    <div ng-bind-html="new.content">

                                    </div>


                                    <div class="tags-share">
                                        <div class="tag">
                                            <i class="fa fa-tags"></i>

                                            <p>Tags:</p>
                                            <span><a ng-repeat="tag in new.tags" ui-sref="new">{{tag}}</a></span>
                                        </div>
                                        <div class="share">
                                            <div class="second-button">
                                                <a facebook class="facebookShare" data-url='{{location}}'
                                                   data-shares='shares'>{{shares}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="false" class="comments">
                                <div class="heading">
                                    <h2>Comments</h2>
                                </div>
                                <div class="comment-item">
                                    <img src="http://placehold.it/54x54" alt="">
                                    <h4>John Smith</h4>
                                    <span>1 hour ago</span>

                                    <div class="reply-button">
                                        <a href="#">Reply</a>
                                    </div>
                                    <p>Blue Bottle occupy fanny pack hashtag, cronut brunch PBR Odd Future. Brooklyn
                                        cray fap Meggings quinoa 8-bit, blog actually roof party master cleanse iPhone
                                        four dollar toast.Tofu dreamcatcher 90's letterpress vinyl megging</p>
                                </div>
                                <div class="comment-item replied-comment">
                                    <img src="http://placehold.it/54x54" alt="">
                                    <h4>Endris Flenderno</h4>
                                    <span>1 hour ago</span>

                                    <div class="reply-button">
                                        <a href="#">Reply</a>
                                    </div>
                                    <p>Blue Bottle occupy fanny pack hashtag, cronut brunch PBR Odd Future. Brooklyn
                                        cray fap Meggings quinoa 8-bit, blog actually roof party master cleanse iPhone
                                        four dollar toast.Tofu dreamcatcher 90's letterpress vinyl megging</p>
                                </div>
                                <div class="comment-item replied-comment">
                                    <img src="http://placehold.it/54x54" alt="">
                                    <h4>Marcos Marrison</h4>
                                    <span>1 hour ago</span>

                                    <div class="reply-button">
                                        <a href="#">Reply</a>
                                    </div>
                                    <p>Blue Bottle occupy fanny pack hashtag, cronut brunch PBR Odd Future. Brooklyn
                                        cray fap Meggings quinoa 8-bit, blog actually roof party master cleanse iPhone
                                        four dollar toast.Tofu dreamcatcher 90's letterpress vinyl megging</p>
                                </div>
                                <div class="comment-item">
                                    <img src="http://placehold.it/54x54" alt="">
                                    <h4>Robert Landerson</h4>
                                    <span>1 hour ago</span>

                                    <div class="reply-button">
                                        <a href="#">Reply</a>
                                    </div>
                                    <p>Blue Bottle occupy fanny pack hashtag, cronut brunch PBR Odd Future. Brooklyn
                                        cray fap Meggings quinoa 8-bit, blog actually roof party master cleanse iPhone
                                        four dollar toast.Tofu dreamcatcher 90's letterpress vinyl megging</p>
                                </div>
                            </div>
                            <div ng-if="false" class="leave-comment">
                                <div class="heading">
                                    <h2>Leave a comment</h2>
                                </div>
                                <div class="comment-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" id="name" name="s" placeholder="Full Name" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="address" name="s" placeholder="E-mail Address"
                                                   value="">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="message" class="message" name="message"
                                                      placeholder="Write comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="accent-button">
                                        <a href="#">Submit Comment</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="side-bar">
                                <div class="search-box">
                                    <input type="text" class="search" name="s" placeholder="Search..." value="">
                                </div>
                                <div class="categories">
                                    <div class="widget-heading">
                                        <h4>Categories</h4>
                                    </div>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Design</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>International</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Learning</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Read</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Education</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i>Finance</a></li>
                                    </ul>
                                </div>
                                <div class="recent-news">
                                    <div class="widget-heading">
                                        <h4>Recent News</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>Visiting Artists: Giles Bailey</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>How Students use Rankings?</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                        <li>
                                            <a href="single-post.html"><img src="http://placehold.it/70x70" alt=""></a>
                                            <a href="single-post.html"><h6>University Finder: Compare</h6></a>
                                            <span>7 October 2015</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tags">
                                    <div class="widget-heading">
                                        <h4>Tags</h4>
                                    </div>
                                    <ul>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Envanto</a></li>
                                        <li><a href="#">Course</a></li>
                                        <li><a href="#">Education</a></li>
                                        <li><a href="#">College</a></li>
                                        <li><a href="#">Teachers</a></li>
                                        <li><a href="#">Read</a></li>
                                        <li><a href="#">Excursions</a></li>
                                    </ul>
                                </div>
                                <div class="recent-tweets">
                                    <div class="widget-heading">
                                        <h4>Recents Tweets</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <i class="fa fa-twitter"></i>

                                            <p>Tote bag post-ironic messenger bag bespoke cray wolf moon key ready.</p>
                                            <a href="#">https://olark.recruiterbox.com/jobs/fk0h</a>
                                            <span>21 minutes ago.</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-twitter"></i>

                                            <p>Tote bag post-ironic messenger bag bespoke cray wolf moon key ready.</p>
                                            <a href="#">https://olark.recruiterbox.com/jobs/fk0h</a>
                                            <span>21 minutes ago.</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="instagram-feeds">
                                    <div class="widget-heading">
                                        <h4>Instagram</h4>
                                    </div>
                                    <div class="instagram-items">
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                        <div class="instagram-item">
                                            <a href="#"><img src="http://placehold.it/90x80" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <nav class="sidebar-menu slide-from-left">
        <div class="nano">
            <div class="content">
                <nav class="responsive-menu">
                    <ul>
                        <li class="menu-item-has-children"><a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Homepage 1</a></li>
                                <li><a href="homepage-2.html">Homepage 2</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Courses</a>
                            <ul class="sub-menu">
                                <li><a href="courses-grid.html">Courses Grids</a></li>
                                <li><a href="courses-list.html">Courses List</a></li>
                                <li><a href="single-course.html">Single Course</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Events</a>
                            <ul class="sub-menu">
                                <li><a href="classic-events.html">Classic Events</a></li>
                                <li><a href="calendar-events.html">Calendar Events</a></li>
                                <li><a href="single-event.html">Single Event</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="our-teachers.html">Our Teachers</a></li>
                                <li><a href="single-teacher.html">Single Teacher</a></li>
                                <li><a href="gallery-4.html">Gallery 4 Columns</a></li>
                                <li><a href="gallery-3.html">Gallery 3 Columns</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="#">News</a>
                            <ul class="sub-menu">
                                <li><a href="classic-news.html">Classic News</a></li>
                                <li><a href="grid-news.html">Grid News</a></li>
                                <li><a href="single-post.html">Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

</div>