.single-course .accordions {
  .accordion-section-content {
    padding: 0;
  }
  .accordion-section h4{
    margin: 0!important;
  }
  .panel{
    margin: 0;
    .panel-heading{
      padding: 0;
    }
  }
}