.single-course .accordions {
  .accordion-section-content {
    padding: 0;
  }
  .accordion-section h4{
    margin: 20px 0!important;
  }
  .panel{
    margin: 0;
    .panel-heading{
      padding: 0;
      h4{
        text-transform: none;
        margin: 0!important;
      }
    }
  }
}

.nologin .panel-heading .panel-title h4 span,
.nologin .panel-heading .panel-title h4 span i {
    color: #d5d5d5 !important;
}


.padre {
  position: relative;
}
.hijo {
  position: absolute;
  top: 265%;
  left: 27%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
