<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-widget">
                    <div class="educa-info">
                        <img src="assets/images/logo-2.png" style="margin-top: -6px;margin-bottom: -10px;"
                             alt="">

                        <div class="line-dec"></div>
                        <p>Marlin Coach Intl. es una empresa Colombiana dedicada al apoyo y orientación del
                            desarrollo y crecimiento del ser humano, como un ser integral en todas sus áreas
                            (Cognitiva-Intelectual, Social, Espiritual, Emocional y Corporal-Salud).</p>

                        <div class="text-button">
                            <a href="#">Leer Más <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <div class="featured-links">
                        <h2>Enlaces Destacados</h2>

                        <div class="line-dec"></div>
                        <ul class="row">
                            <li class="col-md-12 col-lg-6"><a href="#">Cursos</a></li>
                            <li class="col-md-12 col-lg-6"><a href="#">Contactanos</a></li>
                            <li class="col-md-12 col-lg-6"><a href="#">FAQs</a></li>
                            <li class="col-md-12 col-lg-6"><a href="#">Cursos</a></li>
                            <li class="col-md-12 col-lg-6"><a href="#">Sobre Nosotros</a></li>
                            <li class="col-md-12 col-lg-6"><a href="#">Coaches</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <div class="university-address">
                        <h2>Ubicación</h2>

                        <div class="line-dec"></div>
                        <ul>
                            <li><i class="fa fa-home"></i>CC. Plaza de los Andes.<br/>Oficina 130,<br/>Cúcuta N.S. Colombia </li>
                            <li can-show="about.phone"><i class="fa fa-phone"></i>(+57) 314 427 3988</li>
                            <li can-show="about.email"><i class="fa fa-envelope-o"></i>contacto@marlininternacional.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <div class="newsletters">
                        <h2>Nuevas Publicaciones</h2>

                        <div class="line-dec"></div>
                        <p>Suscríbete y recibe gratuitamente en tu correo, actualizaciones sobre nuevas publicaciones, eventos y cursos que podrían interesarte.</p>
                        <input type="text" class="email" name="s" placeholder="Direccion de Email..." value="">

                        <div class="accent-button">
                            <a href="#">Subscribete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-menu">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p><a href="http://jarvigames.com">@ Copyright 2015 JarviGames. All Rights Reserved</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu">
                                <ul>
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Cursos</a></li>
                                    <li><a href="#">Eventos</a></li>
                                    <li><a href="#">Sobre Nosotros</a></li>
                                    <li><a href="#">Contactanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>