<header class="site-header">
    <div id="main-header" class="main-header header-sticky">
        <div class="inner-header container clearfix">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
            </div>
            <div class="header-right-toggle pull-right hidden-md hidden-lg">
                <a href="javascript:void(0)" class="side-menu-button"><i class="fa fa-bars"></i></a>
            </div>
            <div class="header-info hidden-sm hidden-xs">
                <ul>
                    <li can-show="about.phone"><i class="fa fa-phone"></i>(+57) 314 427 3988</li>
                    <!--
                    <li can-show="about.email"><i class="fa fa-envelope-o"></i>contacto@marlininternacional.com
                    </li>
                    -->
                    <li><a href="contact.html">CONTÁCTANOS</a></li>
                    <li ng-if="multilanguageEnabled" class="language">
                        <p><a href="#" id="example-show" class="showLink"
                              onclick="showHide('example');return false;"><i class="fa fa-globe"></i>English<i
                                class="fa fa-angle-down"></i></a></p>

                        <div id="example" class="more">
                            <p><a href="#" id="example-hide" class="hideLink"
                                  onclick="showHide('example');return false;"><i class="fa fa-globe"></i>English<i
                                    class="fa fa-angle-up"></i></a></p>

                            <form method="get" id="blog-search" class="blog-search">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Dutch</a></li>
                                    <li><a href="#">Albanian</a></li>
                                </ul>
                            </form>
                        </div>
                    </li>
                    <li><a ui-sref="inscriptions.new">¡Inscribete Ya!</a></li>
                </ul>
            </div>
            <nav class="main-navigation text-left hidden-xs hidden-sm">
                <ul>
                    <li><a href="#" class="has-submenu">Inicio</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Homepage 1</a></li>
                            <li><a href="homepage-2.html">Homepage 2</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="has-submenu">Cursos</a>
                        <ul class="sub-menu">
                            <li><a href="courses-grid.html">Courses Grids</a></li>
                            <li><a href="courses-list.html">Courses List</a></li>
                            <li><a href="single-course.html">Single Course</a></li>
                        </ul>
                    </li>
                    <!--
                    <li><a href="#" class="has-submenu">Eventos</a>
                        <ul class="sub-menu">
                            <li><a href="classic-events.html">Classic Events</a></li>
                            <li><a href="calendar-events.html">Calendar Events</a></li>
                            <li><a href="single-event.html">Single Event</a></li>
                        </ul>
                    </li>
                    -->
                    <li><a href="#" class="has-submenu">Publicaciones</a>
                        <ul class="sub-menu">
                            <li><a href="classic-news.html">Classic News</a></li>
                            <li><a href="grid-news.html">Grid News</a></li>
                            <li><a href="single-post.html">Single Post</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="has-submenu">Conócenos</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="our-teachers.html">Our Teachers</a></li>
                            <li><a href="single-teacher.html">Single Teacher</a></li>
                            <li><a href="gallery-4.html">Gallery 4 Columns</a></li>
                            <li><a href="gallery-3.html">Gallery 3 Columns</a></li>
                        </ul>
                    </li>
                    <li class="login" overlay>
                        <a href="javascript:void(0)" class="has-submenu">Iniciar Sesión</a>
                        <ul class="sub-menu">
                            <li>
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Usuario"/>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" placeholder="Contraseña"/>
                                    </div>
                                    <div class="form-group text-right">
                                        <input type="submit" class="btn btn-default" value="Ingresar"/>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#search"><i class="fa fa-search"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>