<div class="changePasswordModalInner">
    <div class="content">
        <div class="heading">
            <h1>Actualiza tu contraseña</h1>
            <p>Por favor actualiza tus datos</p>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input class="form-control" ng-model="data.psw" type="password"/>
        </div>
        <div class="form-group">
            <label>Repite tu contraseña</label>
            <input class="form-control" ng-model="data.psw2" type="password"/>
        </div>
        <div ng-show="error!=null" class="error">
            <p><i class="fa fa-times"></i> {{error}}</p>
        </div>
        <div class="accent-button">
            <a href="javascript:void(0)" ng-click="actualizarContrasena()">Actualizar Información</a>
        </div>
    </div>

</div>
