<div class="page-heading " responsive-image="" sources="headerSources" as-background-image>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{instructor.name}} {{instructor.surname}}</h1>
        <span>{{instructor.description|truncate:100:"..."}}</span>
        <div class="page-list">
          <ul>
            <li class="active"><a href="/">Inicio</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><a href="/instructores">Nuestros Maestros</a></li>
            <li><i class="fa fa-angle-right"></i></li>
            <li><a href="javascript:void(0)">{{instructor.name| truncate:25:"..."}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="single-teacher">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="single-teacher-item">
          <div class="row">
            <div class="col-md-5">
              <img responsive-image="" sources="instructor.image" src-format="::$source|concatOrigin:'bucket'" alt="">
              <div class="row">
                <div class="col-md-12" ng-controller="InstructorContactController as contactCtrl">
                  <form  name="contactForm" ng-submit="contactForm.$valid && contactCtrl.submit(contactCtrl.vm.data, instCtrl.vm.instructor)"
                         class="contact-form" novalidate>
                    <h4>Contáctame</h4>
                    <div class="warning-message" ng-show="contactForm.$submitted && contactForm.$invalid">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Por favor verifique los datos ingresados.
                    </div>
                    <div class="success-message" ng-show="contactCtrl.vm.success">
                      <i class="fa fa-check" aria-hidden="true"></i> Tu solicitud ha sido enviada.
                    </div>
                    <div class="warning-message" ng-show="contactCtrl.vm.error">
                      <i class="fa fa-times" aria-hidden="true"></i> Ha ocurrido un error, por favor intentelo de nuevo mas tarde.
                    </div>
                    <br/>
                    <input type="text" id="name" ng-show="!dataUser" name="name"
                           ng-class="{'has-error':(contactForm.$submitted || contactForm.name.$touched) && contactForm.name.$invalid}"
                           ng-model="contactCtrl.vm.data.toName" ng-required="!dataUser"
                           placeholder="Nombre Completo">
                    <input type="email" id="address" name="email"
                           ng-show="!dataUser"
                           ng-class="{'has-error':(contactForm.$submitted || contactForm.email.$touched) && contactForm.email.$invalid}"
                           ng-model="contactCtrl.vm.data.to" ng-required="!dataUser"
                           placeholder="E-Mail">
                    <textarea ng-model="contactCtrl.vm.data.body" name="body" class="message" required
                              ng-class="{'has-error':(contactForm.$submitted || contactForm.body.$touched) && contactForm.body.$invalid}"
                              placeholder="Mensaje" ></textarea>
                    <div ng-if="!dataUser" class="text-center">
                      <div vc-recaptcha key="APP_CONSTANTS.RECAPTCHA_KEY.value" ng-model="contactCtrl.vm.data.gRecaptchaResponse"
                           required=""></div>
                    </div>
                    <br/>
                    <div class="accent-button">
                      <button type="submit">Enviar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="right-info">
                <div class="name">
                  <h2>{{instructor.name}} {{instructor.surname}}</h2>
                  <img src="assets/images/line-dec.png" alt="">
                </div>
                <div class="icons">
                  <ul ng-show="instructor.socialNetworks">
                    <li><a ng-href="{{instructor.socialNetworks.facebook}}"><i
                      class="fa fa-facebook"></i></a></li>
                    <li><a ng-href="{{instructor.socialNetworks.twitter}}"><i
                      class="fa fa-twitter"></i></a></li>
                    <li><a ng-href="{{instructor.socialNetworks.linkedin}}"><i
                      class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
                <div class="description">
                  <p>{{instructor.description}}</p>
                  <ul ng-show="instructor.contactInfo">
                    <li><i class="fa fa-phone"></i>{{instructor.contactInfo.telphone}}</li>
                    <li><i class="fa fa-envelope"></i><a href="#">
                      {{instructor.contactInfo.email}}</a></li>
                    <li><i class="fa fa-skype"></i><a href="#">{{instructor.contactInfo.skype}}</a>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h3>Cursos dictados</h3>
                  <div class="courses clearfix" ng-show="courses" ng-repeat="c in courses">
                    <a ui-sref="courses.show({title:c.name,courseId:c.id,course:c})">
                      <div class="image col-md-3">
                        <img ng-src="{{c.images._150x150}}">
                      </div>
                      <div class="col-md-9">
                        <h3><a ui-sref="courses.show({title:c.name,courseId:c.id,course:c})">{{c.name}}</a>
                        </h3>
                        <p class="text-justify">{{c.description | truncate:100:"..."}}</p>
                        <a ui-sref="courses.show({title:c.name,courseId:c.id,course:c})">ver
                          Curso</a>
                      </div>
                    </a>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="call-to-action">
  <div class="container">
    <div class="row">
      <p>Desarrolla tu <em>máximo potencial</em> y aplícalo a tu vida diaria.</p>
      <div class="accent-button">
        <a href="/cursos">Ver nuestros cursos</a>
      </div>
    </div>
  </div>
</div>