@import "../../assets/less/educa-less/variables";

.single-post .leave-comment .comment-form input[type="submit"] {
  background: #f5a425;
  border: 1px #FFF;
  color: #FFF;
  font-size: 14px;
  border: 1px solid #fff;
  transition: 0.25s ease-in-out
}

.single-post .leave-comment .comment-form input[type="submit"]:hover {
  color: #f5a425 !important;
  background: #FFF !important;
  border: 1px solid #f5a425;
}

.single-course .accordions .panel {
  border: none;
  box-shadow: none;
}

.nologin {
  cursor: pointer;
}

.nologin .accordion-section-content {
  height: 0px !important;

}

.single-course .accordions .accordion-section-title .first-icon i {

}

.site-header {
  z-index: 9999999999 !important;

  .header-info ul li {
    vertical-align: middle;
  }
}

.description-line p.text-main-slider {
  color: @bg-light !important;
  text-align: justify;
}

.login.jg-overlay a {
  color: #FFF;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-y {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-x {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main-background-opaque {
  background-color: @bg-light !important;
}

.main-background-dark {
  background-color: @bg-dark !important;
}

.main-background-opaque-dark {
  background-color: #D6D6D6;
}

.g-recaptcha {
  margin-bottom: 30px !important;
}

/* USSER STYLES*/

.my-publications .publication .description {
  width: 100% !important
}

.my-publications .publication .description.publication-erased {
  h4 {
    color: #d5d5d5;
  }
  .text-button, h6 {
    display: none;
  }
}

.form-group {
  .error-block {
    display: none;
    margin: 10px 0;
    em {
      color: @second-color;
    }
  }

  &.has-error {
    .error-block {
      display: block;
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.accent-button {
  .fa.fa-refresh {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

.ngdialog {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
}

.change-image-modal {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  .ngdialog-content {
    width: 600px !important;
    .change-image-modal-inner {
      .image-select > div {
        margin: 0 auto;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
          border-radius: 50%;
          border-style: dashed;
          background: @bg-light;
          width: 200px;
          height: 200px;
        }
      }
    }
    .accent-button {
      text-align: center !important;
      button {
        width: 45%;
      }
    }
  }
}

.accent-button {
  .submit {
    background-color: @second-color;
  }
  button[disabled] {
    background-color: @accent-color-disabled !important;
    text-shadow: none !important;;
    &:hover {
      background-color: @accent-color-disabled !important;;
      color: @white !important;
    }
  }
}

.comments .comment-item {
  p{
    margin-left: 0!important;
  }
  img {
    width: 54px !important;
    height: 54px !important;
  }
}